.dive-video {
  width: 900px; /* Ancho fijo de 900 píxeles */
  height: 600px; /* Altura fija de 600 píxeles */
  max-width: 900px; /* Ancho máximo de 900 píxeles */
  max-height: 600px; /* Altura máxima de 600 píxeles */
}
