a {
    text-decoration: none;
}

input {
    background: #686868;
    border: solid 0.15rem rgb(89 89 89);
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 0.3rem;
    color: white;

    &:hover {
        border: solid 0.15rem #0f6fdd;
    }

    &:focus {
        border: solid 0.15rem #0f6fdd;
        outline: none;
    }

    &::placeholder {
        color:    rgb(68, 68, 68);
     }
}