body {
    font-family: Ubuntu;
}

/*For aligning items to the center by displaying it as a Flex */
.align-center {
    display: flex;
    justify-content: center;
}
  
/* Add a black background color to the top navigation */
.topnav {
    background-color: #303030da;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    max-width: 26.1%;
}
    
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    font-family: Ubuntu;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
    
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #0f6fdd;
}
    
/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #0f6fdd;
    font-family: Ubuntu-Bold;
}
    
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.btn {
    background: #303030da;
    border-radius: 0.3rem;
    display: flex;
    color: white;
    text-decoration: none;
    padding: 0.6rem;
    font-family: Ubuntu;
    text-decoration: none;
    cursor: pointer;
    border: none;

    &:hover {
        background: #0f6fdd;
    }

    &.-modal {
        text-align: center;
        border: none;
        margin-left: 14rem;
        padding: 0.5rem 3rem;
        margin-top: 3rem;
    }

    &.login {
        text-align: center;
        border: none;
        padding: 0.5rem 3rem;
    }

    &.go-back {
        width: 20px;
        height: 20px;
        justify-content: center;
        font-weight: bold;
        position: absolute;
    }
}

.psb-1 {
    padding: 0 0 1rem;
}

/* Estilos para la ventana modal */
.modal {
    display: none;
    position: fixed; /* Fijado a la pantalla */
    z-index: 1; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Scroll si es necesario */
    background-color: rgba(0,0,0,0.4); /* Transparencia */
}

.modal-contenido {
    text-align: center; /* Texto centrado */
    background-color: #fefefe; /* Color de fondo */
    border-radius: 1.2em; /* Redondeado */
    margin: 15% auto; /* 15% desde la parte superior y centrado */
    padding: 20px;
    border: 2px solid #0000002f;
    width: 30%; /* Ancho de la ventana modal */
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}