/* Esta es la hoja de estilo de nuestro slider */

/* Estilo para la etiqueta figure */
figure {
    margin: 0; /* Elimina el margen */
}

/* Añadir un ancho máximo para las imágenes/videos, centramos el margen,
ocultamos el desbordamiento para que no se muestre la barra de desplazamiento 
y añadimos una posición relativa para poder trabajar con otros elementos */
#gallery {
    max-width: 900px; /* Ancho máximo de 900 píxeles */
    margin: auto; /* Centramos el contenedor */
    overflow: hidden; /* Ocultamos el desbordamiento */
    position: relative; /* Posición relativa */
}

/* Creamos el contenedor "principal" del slider, que contendrá la animación de los desplazamientos
y también mostrará el contenedor como un flex para organizar los elementos en una sola fila */
.gallery-container {
    display: flex; /* Utilizamos flexbox para la disposición */
    transition: transform 0.5s ease-in-out; /* Transición suave para el movimiento del slider */
}

/* Establecemos un ancho mínimo (min-width) para .gallery-item para asegurar que cada elemento del slider
ocupe todo el ancho disponible, y utilizamos box-sizing: border-box; para incluir el relleno y el borde 
en el ancho del elemento */
.gallery-item {
    min-width: 100%; /* Ancho mínimo del 100% del contenedor padre */
    box-sizing: border-box; /* Incluye relleno y borde en el ancho total */
}

/* Estilo para los videos dentro del slider */
.dive-video {
    width: 100%; /* Ancho del 100% del contenedor padre */
    height: 100%; /* Altura del 100% del contenedor padre */
    aspect-ratio: 16/9; /* Proporción de aspecto 16:9 */
}


/* Para la navegación, utilizamos display: flex; y justify-content: space-between; en .gallery-navigation 
para posicionar los botones en los extremos opuestos del contenedor, y ajustamos la posición y el estilo
de los botones con CSS adicional */
.gallery-navigation {
    display: flex; /* Utilizamos flexbox para la disposición */
    justify-content: space-between; /* Espacio entre los botones */
    width: calc(100% - 40px); /* Ancho del 100% menos 40 píxeles */
    margin: 0 20px; /* Márgenes laterales de 20 píxeles */
    position: absolute; /* Posición absoluta */
    top: 50%; /* Posición al 50% desde la parte superior */
    transform: translateY(-50%); /* Centramos verticalmente */
}

/* Estilo para los botones de navegación */
.nav-button {
    background-color: rgba(0, 0, 0, 0.3); /* Fondo negro con transparencia */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno de 10px arriba y abajo, 20px a los lados */
    cursor: pointer; /* Cursor de mano */
    border-radius: 5px; /* Bordes redondeados */
}

.nav-button > span {
    font-size: 30px; /* Tamaño de fuente de 30px */
}

/* Cambiamos el color de fondo del botón al pasar el cursor */
.nav-button:hover {
    background-color: #0f6fdd; /* Fondo azul */
}
